<p-confirmDialog></p-confirmDialog>

<div class="form-container">

  <ng-container *ngIf="!showSubgroup; else subgroupTemplate">
    <div class="empty-subgroup-template">
      <img src="./assets/images/sub-group-draw.svg" alt="{{ 'PAGE.LABELS.SUBGROUP_ICON_ALT' | translate }}" class="error-icon" />
      <p *ngIf="!isMarketFormValid">
        {{ "PAGE.PLACEHOLDERS.ADD_SUBGROUP_INFO_INVALID" | translate }}
      </p>
      <p *ngIf="isMarketFormValid">
        {{ "PAGE.PLACEHOLDERS.ADD_SUBGROUP_INFO_VALID" | translate }}
      </p>

      <button
        type="button"
        id = "empty-state-subgroup-button"
        pButton
        icon="pi pi-plus"
        label="{{ 'PAGE.BUTTONS.ADD_SUBGROUP'|translate }}"
        [outlined]="true"
        (click)="showSubgroupFunc()"
        [disabled]="!isMarketFormValid"
      ></button>
    </div>
  </ng-container>
  
  <ng-template #subgroupTemplate>
  <form [formGroup]="form">


    <p-table [value]="rows.controls" formArrayName="rows" class="p-mb-3">

      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'PAGE.LABELS.SUBGROUP_CODE' | translate }}</th>
          <th>{{ 'PAGE.LABELS.SUBGROUP_NAME' | translate }}</th>
        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
        <tr [formGroupName]="rowIndex" *ngIf="!row.get('isDeleted')?.value">

          <td>
            <p-inputGroup class="input-wrapper">
              <input type="text" placeholder="" pInputText formControlName="marketCode" maxlength="2"
                class="market-input" id="subgroup-marketcode-input" readonly />
              <p-divider layout="vertical"></p-divider>

              <input type="text" placeholder="{{ 'PAGE.PLACEHOLDERS.ENTER_CODE' | translate }}" pInputText formControlName="subGroupCode" maxlength="1"
                class="subgroup-input" id="subgroupcode-input" (blur)="row.get('subGroupCode')?.markAsTouched()" />
            </p-inputGroup>
          </td>

          <td>
            <div class="form-inline">
              <input type="text" placeholder="{{ 'PAGE.PLACEHOLDERS.SUBGROUP_NAME' | translate }}" pInputText formControlName="subGroupName"
                class="name-input" id="subgroup-name-input" (blur)="row.get('subGroupName')?.markAsTouched()" />

              <i style="cursor: pointer;" class="fa fa-trash-can delete-icon p-ml-2" (click)="deleteRow(rowIndex)"></i>
            </div>
          </td>
        </tr>

        <tr *ngIf="!row.get('isDeleted')?.value">
          <td colspan="2">
            <small class="p-error"
              *ngIf="row.get('subGroupCode')?.hasError('pattern') && row.get('subGroupCode')?.touched">
              <span class="error-icon">❗</span>{{ "PAGE.PLACEHOLDERS.INVALID_CODE_FORMAT" | translate }}
            </small>
            <small class="p-error"
              *ngIf="row.get('subGroupCode')?.hasError('required') && row.get('subGroupCode')?.touched">
              <span class="error-icon">❗</span>{{ "PAGE.PLACEHOLDERS.SUBGROUP_CODE_REQUIRED" | translate }}
            </small>
            <small class="p-error"
              *ngIf="row.get('subGroupName')?.hasError('required') && row.get('subGroupName')?.touched">
              <span class="error-icon">❗</span>{{ "PAGE.PLACEHOLDERS.SUBGROUP_NAME_REQUIRED" | translate }}
            </small>
            <small class="p-error"
              *ngIf="row.hasError('duplicateSubgroupCode') && row.get('subGroupCode')?.touched">
              <span class="error-icon">❗</span>{{ "PAGE.PLACEHOLDERS.SUBGROUP_CODE_EXISTS" | translate }}
            </small>
            <small class="p-error"
              *ngIf="row.hasError('duplicateSubgroupName') && row.get('subGroupName')?.touched">
              <span class="error-icon">❗</span>{{ "PAGE.PLACEHOLDERS.SUBGROUP_NAME_EXISTS" | translate }}
            </small>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <button type="button" id="add-subgroup-button" pButton icon="pi pi-plus" label="{{ 'PAGE.BUTTONS.ADD_SUBGROUP'|translate }}" [outlined]="true" (click)="addRow()"
      [disabled]="!canAddSubgroup() || !isMarketFormValid"></button>

    </form>
  </ng-template>
</div>