.container{
    margin: 10px; 
}

.market-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px; /* Adjust padding here to move both items from the left edge */
    border-bottom: 1px solid #dcdcdc; /* Light underline */
}

.market-header h1 {
    margin: 0;
    font-size: 24px;
    padding-left: 10px; /* Add left padding to adjust the heading */
    margin-bottom: 5px; /* Margin below heading to separate from the underline */
}
.custom-header th {
    border-right: 0.5px solid rgb(34, 130, 241); /* Blue border for header cells */
    border-bottom: 0.5px solid rgb(34, 130, 241);
    padding: 10px; /* Optional: to give some space inside the header cells */
}
.custom-header th:last-child {
    border-right: none; /* Remove right border for the last header cell */
}

.add-market-button {
    display: flex;
    align-items: center;
    background-color: var(--primary-navy-color);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    margin-bottom: 5px; /* Margin below button to separate from the underline */
}

.add-market-button i {
    margin-right: 8px;
}

.add-market-button:hover {
    background-color: #0a66c9;
}


/* Style for the card container */
.card {
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
    
}

/* Table layout adjustments */
.p-table-container {
    overflow-x: auto; /* Horizontal scroll enabled */
}
.p-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;  /* Prevent text from wrapping to the next line */
}
.p-table td {
    white-space: nowrap;  /* Prevent text from wrapping */
    overflow: hidden;     /* Hide the overflow */
    text-overflow: ellipsis;  /* Add ellipsis (...) when text overflows */
    max-width: 150px;     /* Set a maximum width for the column */
}
.p-table th {
    max-width: 150px;  /* Match the width of the td cells */
}

/* Header styling */
.p-table thead th {
    background-color: #f8f9fa;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #dee2e6;
}



/* Hover effect for table rows */
.p-table tbody tr:hover {
    background-color: #e9ecef;
    transition: background-color 0.3s;
}

/* Alignments */
.p-table th, .p-table td {
    text-align: left;
    vertical-align: middle;
}

/* Responsive table */
@media (max-width: 768px) {
    .p-table {
        font-size: 14px;
    }
    .p-table thead th, .p-table tbody td {
        padding: 8px;
    }
}

/* Add some margin to the bottom of the table */
.p-table {
    margin-bottom: 1.5rem;
}
