<app-header [title]="marketDetails?.code + ' - ' + marketDetails?.name">
  <button class="edit-button" (click)="navigateToEdit()" >
    <img src="assets/edit-icon.svg" alt="Edit Icon" width="16" height="16" />
    <span>{{ 'PAGE.BUTTONS.EDIT_BUTTON' | translate }}</span>
    <span class="notification-dot"></span>
  </button> 

  <div class="options-card">
    <p-button class="options-btn" (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-h"></p-button>
  </div>
</app-header>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-menu #menu [model]="items" [popup]="true"></p-menu>

<div class="container">
  <div class="card">
    <!-- Region Panel -->
    <div class="panel">
      <div class="panel-header">{{ 'PAGE.LABELS.REGION' | translate }}</div>
      <div class="panel-content">{{ marketDetails?.region}}</div>
    </div>

    <!-- Subregion Panel -->
    <div class="panel">
      <div class="panel-header">{{ 'PAGE.LABELS.SUBREGION' | translate }}</div>
      <div class="panel-content">{{marketDetails?.subRegion}}</div>
    </div>

    <!-- Market Name Panel -->
    <div class="panel">
      <div class="panel-header">{{ 'PAGE.LABELS.MARKET_NAME' | translate }}</div>
      <div class="panel-content">{{ marketDetails?.name }}</div>
    </div>

    <!-- Long Code Panel -->
    <div class="panel">
      <div class="panel-header">{{ 'PAGE.LABELS.LONG_MARKET_CODE' | translate }}</div>
      <div class="panel-content">{{ marketDetails?.longMarketCode }}</div>
    </div>

    <!-- Subgroup(s) Panel -->
    <div class="Subgrouppanel">
      <div class="panel-header">{{ 'PAGE.LABELS.SUBGROUPS' | translate }}</div>
      <div *ngFor="let subgroup of combinedSubGroupDetails" class="subgrouppanel-contt">
        <p>{{ subgroup }}</p>
      </div>
      <div class="no-subgroup" *ngIf="!marketDetails?.marketSubGroups?.length">
        
        <img _ngcontent-ng-c1048390573="" src="./assets/images/sub-group-draw.svg" class="error-icon" alt="Icon">
        <p >{{ 'PAGE.NOTIFICATIONS.NO_SUBGROUPS_AVAILABLE' | translate }}</p>
      </div>
    </div>
  </div>
</div>

