<div class="container">
    <div class="market-header">
        <h2>Markets</h2>
        <button class="add-market-button" [routerLink]="['/marketlist/create']" routerLinkActive="router-link-active" id="create-market">
            <i class="pi pi-plus"></i> Create Market
        </button>
    </div>

    <div class="search-container">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search markets..." [(ngModel)]="searchText" (input)="filterMarkets()" />
            <i class="pi pi-times" *ngIf="searchText" (click)="clearFilter()" style="cursor: pointer;"></i> <!-- Close icon -->
        </span>
    </div>

    <div class="p-table-container">
        <p-table [value]="filteredMarkets" scrollable="true" [tableStyle]="{'min-width': '60rem'}" sortMode="single" (onSort)="onSort($event)">
            <ng-template pTemplate="header">
                <tr class="custom-header">
                    <th pSortableColumn="longcode" style="width:25%">
                        Long Code 
                        <p-sortIcon field="longcode" *ngIf="sortField === 'longcode'"></p-sortIcon>
                    </th>
                    <th pSortableColumn="marketcode" style="width:25%">
                        Market Code 
                        <p-sortIcon field="marketcode" *ngIf="sortField === 'marketcode'"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name" style="width:25%">
                        Market Name 
                        <p-sortIcon field="name" *ngIf="sortField === 'name'"></p-sortIcon>
                    </th>
                    <th pSortableColumn="subgroups" style="width:25%">
                        Subgroups 
                        <p-sortIcon field="subgroups" *ngIf="sortField === 'subgroups'"></p-sortIcon>
                    </th>
                    <th pSortableColumn="region" style="width:25%">
                        Region 
                        <p-sortIcon field="region" *ngIf="sortField === 'region'"></p-sortIcon>
                    </th>
                    <th pSortableColumn="subregion" style="width:25%">
                        Subregion 
                        <p-sortIcon field="subregion" *ngIf="sortField === 'subregion'"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-market>
                <tr>
                    <td [pTooltip]="market.longMarketCode" tooltipPosition="top">{{ market.longMarketCode }}</td>
                    <td>{{ market.code }}</td>
                    <td [pTooltip]="market.name" tooltipPosition="top" class="truncate"><a [routerLink]="['/marketlist/market', market.id]" class="market-link">{{ market.name }}</a></td>
                    <td>{{ market.marketSubGroups.join(', ')}}</td> <!-- Joining subgroups array -->
                    <td>{{ market.region }}</td>
                    <td>{{ market.subRegion }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
