
<app-header [title]="'Create Market'"></app-header>
<div class="create-market-container">

 

  <div class="scrollable-content">
    <form [formGroup]="marketForm" (ngSubmit)="onSubmit()">
      <div class="form-section">
        <label for="region" class="form-label"
          >Region <span class="asterik">*</span></label
        >
        <p class="form-sub-label">Select a Region</p>
        <div class="region-options">
          <div
            class="region-option"
            *ngFor="let region of regions"
            [ngClass]="{ selected: selectedRegion === region.key }"
            (click)="onRegionSelect(region.key)"
          >
            <p-radioButton
              [name]="'region'"
              [label]="region.value"
              [inputId]="region.key.toString()"
              [value]="region.key"
              formControlName="region"
            >
            </p-radioButton>
            <label class="check-box-labels" [for]="region.key.toString()"
              >- {{ region.value }}</label
            >
          </div>
        </div>
      </div>

      <div *ngIf="subregions.length > 0" class="form-section">
        <label for="subregion" class="form-label"
          >Subregion <span class="asterik">*</span></label
        >
        <p class="form-sub-label">Select a Subregion</p>
        <div class="subregion-options">
          <div
            class="subregion-option"
            *ngFor="let subregion of subregions"
            [ngClass]="{
              selected: selectedSubregion === subregion.key.toString()
            }"
            (click)="onSubregionChange($event, subregion.key)"
          >
            <p-radioButton
              [name]="'subregion'"
              [label]="subregion.value"
              [inputId]="subregion.key.toString()"
              [value]="subregion.key"
              formControlName="subregion"
            >
            </p-radioButton>
            <label class="check-box-labels" [for]="subregion.key.toString()">{{
              subregion.value
            }}</label>
          </div>
        </div>
      </div>

      <div class="form-section">
        <label class="form-label"
          >Short Code/Market Name <span class="asterik">*</span></label
        >
        <p class="form-sub-label">
          Enter a two-letter Market Code, a Market Name
        </p>
        <div class="shortcode-marketname-container">
          <input
            formControlName="marketCode"
            type="text"
            placeholder="Code"
            class="shortcode-input"
            maxlength="2"
            autocapitalize="on"
          />
          <span class="divider"></span>
          <input
            formControlName="marketName"
            type="text"
            placeholder="Name"
            class="marketname-input"
          />
        </div>

        <p *ngIf="codeExistsError" class="error-message">
          <span class="error-icon">❗</span> Entered market code already exists.
        </p>

        <p *ngIf="nameExistsError" class="error-message">
          <span class="error-icon">❗</span> Entered market name already exists.
        </p>
      </div>

      <!--long market code-->

      <div class="form-section">
        <label class="form-label"
          >Long Market Code <span class="asterik">*</span></label
        >
        <p class="form-sub-label">
          The format will be automatically set based on selections
        </p>
        <div class="input-wrapper">
        
          <p-inputMask 
          formControlName="longCode" 
          [mask]="longCodeMask"

          (focus)="setCursorToEditable($event)"
          placeholder="_-__.__.__"
          class="longcode-input">
          </p-inputMask>
        </div>
      </div>

      <button
        type="submit"
        class="submit-button"
        [disabled]="marketForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>