<app-header [title]="title" ></app-header>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog> 
<div class="edit-market-container">

   
    <!-- Scrollable Content Wrapper -->
    <div class="scrollable-content">
      <!-- Form for editing a market -->
      <form [formGroup]="marketForm" (ngSubmit)="onSubmit()">
        <!-- Region Selection -->
        <div class="form-section">
          <label for="region" class="form-label">{{ 'PAGE.LABELS.REGION' | translate }} <span class="asterik">*</span></label>
          <p class="form-sub-label">{{ 'PAGE.PLACEHOLDERS.SELECT_REGION' | translate }}</p>
          <div class="region-options">
            <div 
              class="region-option" 
              *ngFor="let region of regions" 
              [ngClass]="{'selected': selectedRegion === region.key}"
              (click)="onRegionSelect(region.key)">
              <p-radioButton 
                [name]="'region'" 
                [label]="region.value" 
                [inputId]="region.key.toString()" 
                [value]="region.key" 
                formControlName="region">
              </p-radioButton>
              <label class="check-box-labels" [for]="region.key.toString()">- {{ region.value }}</label>
            </div>
          </div>
        </div>

        <!-- Subregion Selection -->
        <div *ngIf="subregions.length > 0" class="form-section">
          <label for="subregion" class="form-label">{{ 'PAGE.LABELS.SUBREGION' | translate }} <span class="asterik">*</span></label>
          <p class="form-sub-label">{{ 'PAGE.PLACEHOLDERS.SELECT_SUBREGION' | translate }}</p>
          <div class="subregion-options">
            <div 
              class="subregion-option" 
              *ngFor="let subregion of subregions" 
              [ngClass]="{'selected': selectedSubregion === subregion.key.toString()}"
              (click)="onSubregionChange($event, subregion.key)">
                <p-radioButton 
                  [name]="'subregion'" 
                  [label]="subregion.value" 
                  [inputId]="subregion.key.toString()" 
                  [value]="subregion.key" 
                  formControlName="subregion">
                </p-radioButton>
                <label class="check-box-labels" [for]="subregion.key.toString()">{{ subregion.value }}</label>
            </div>
          </div>
        </div>

        <!-- Short Code / Market Name -->
        <div class="form-section">
            <label class="form-label">{{ 'PAGE.LABELS.SHORT_CODE_MARKET_NAME' | translate }} <span class="asterik">*</span></label>
            <p class="form-sub-label">{{ 'PAGE.PLACEHOLDERS.ENTER_CODE' | translate }} and {{ 'PAGE.PLACEHOLDERS.ENTER_NAME' | translate }}</p>
            <div class="shortcode-marketname-container">
                <input 
                    formControlName="marketCode" 
                    type="text" 
                    placeholder="{{ 'PAGE.PLACEHOLDERS.ENTER_CODE' | translate }}" 
                    class="shortcode-input" 
                    maxlength="2"  
                    autocapitalize="on"
                    (input)="hasEditedCode = true" 
                />
                <span class="divider"></span>
                <input 
                    formControlName="marketName" 
                    type="text" 
                    placeholder="{{ 'PAGE.PLACEHOLDERS.ENTER_NAME' | translate }}" 
                    class="marketname-input" 
                    (input)="hasEditedName = true"  
                />
            </div>

            <!-- Error message for market code -->
            <p *ngIf="codeExistsError && hasEditedCode" class="error-message">
                <span class="error-icon">❗</span> {{ 'PAGE.PLACEHOLDERS.ERROR_MARKET_CODE_EXISTS' | translate }}
            </p>

            <!-- Error message for market name -->
            <p *ngIf="nameExistsError && hasEditedName" class="error-message">
                <span class="error-icon">❗</span> {{ 'PAGE.PLACEHOLDERS.ERROR_MARKET_NAME_EXISTS' | translate }}
            </p>
          </div>

        <!-- Long Code -->
        <div class="form-section">
            <label class="form-label"
              >Long  Code <span class="asterik">*</span></label
            >
            <p class="form-sub-label">
              The format will be automatically set based on selections
            </p>
           
     
            <p-inputMask
            formControlName="longCode"
            mask = "a-aa.aa.aa"
            placeholder="_-__.__.__"
            class="longcode-input">
            </p-inputMask>
          </div>

           <!-- Sub Group -->
           <div class="form-section">
            <label class="form-label">Subgroup(s)</label>
            <!-- Error template or subgroup based on button click -->
            <ng-container *ngIf="!showSubgroupComponent; else subgroupTemplate">
              <div class="empty-subgroup-template">
                <img src="./assets/images/sub-group-draw.svg" alt="Icon" class="error-icon" />
                <p *ngIf="marketForm.invalid">Enter the Market Code/Name before adding Subgroup(s)</p>
                <p *ngIf="marketForm.valid">Start adding Subgroup(s) for the Market</p>
    
                <!-- Add Subgroup Button, enabled only when form is valid -->
                <button type="button" pButton icon="pi pi-plus" label="Add Subgroup" [outlined]="true"
                  (click)="showSubgroup()" [disabled]="marketForm.invalid"></button>
              </div>
            </ng-container>
    
            <!-- Subgroup component template -->
            <ng-template #subgroupTemplate>
              <app-sub-group [marketCode]="marketForm.get('marketCode')?.value" [fetchSubGroups]="subGroups"
                (subGroupsChanged)="onSubGroupsChanged($event)" (noRowsLeftChanged)="onNoRowsLeftChanged($event)"></app-sub-group>
            </ng-template>
          </div>

        <!-- Submit Button -->
        <button 
          type="submit" 
          class="submit-button" 
          [disabled]="marketForm.invalid">
          {{ 'PAGE.BUTTONS.UPDATE_MARKET' | translate }}
        </button>

        <button type="button" class="cancel-button" (click)="onCancel()">
          {{ 'PAGE.BUTTONS.CANCEL' | translate }}
        </button>
      </form>
    </div>
  </div>